client/node_modules/

client/.env

client/src.zip

client/src-slice-fix.zip

client/src/pages/WelcomeText.jsx

server/node_modules/

server/.env

server/src-latest-assets-done.zip

server/.gitignore

